<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title> Cat's rule </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website description">
  <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AdsRYou</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Performance</a></li>
        <li><a href="#ad">New Ad</a></li>
        <li><a href="#research">Research</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Ads Status<b class="caret"></b></a>
          <ul class="dropdown-menu"><li><a href="#">Live</a></li>
            <li><a href="#">Pending</a></li>
            <li><a href="#">History</a></li>
          </ul>
	</li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
	  <ul class="dropdown-menu">
	    <li><a href="#">Login</a></li>
	    <li><a href="#">Signup</a></li>
	    <li><a href="#">Pricing</a></li>
	    <li><a href="#">Support</a></li>
	  </ul>
	</li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
  <div ng-app="app" class="container">
    <div class="panel panel-default" id="panel1">
      <div class="row">
	<div class="col-xs-12" ng-controller="FirstCtrl">
	  <form ng-upload="uploadComplete(content)" name="upload" action="/upload-full-form" method="post" enctype="multipart/form-data">
	    <h1 class="heads">New Ad</h1>
	    <p>Username: <input type="text" name="user.name" ng-model="user.name"></p>
	    <p>AdName: <input type="text" name="user.ads.adname" ng-model="user.ads"></p>
	    <p>Tags for Ad: <input type="text" name="user.ads.tags" ng-model="user.ads.tags"></p>
	    <p>Image: <input type="file" name="theFile" ng-model="user.ads.imagefile"></p>
	    <p>Where do you want the ad(gps coordinate preferred)?: <input type="text" name="user.ads.gpsloc" ng-model="user.ads.gpsloc"></p>
	    <img src="http://www.technorms.com/wp-content/uploads/2010/06/MultiplePointsDistanceVikiTech.png" class="img-responsive imgpan2">
	    How Much: about $0.00<!--JSCODE calculating per mile*hour and estimated amount of impressions-->
	    <button ng-click="submit()">Submit</button>
	    <!--<input type="submit" class="btn" value="Submit" ng-disabled="$isLoading"/>-->
	  </form>
	  <div>
<!--add angular here	    <p>{{user}}</p>
	    <p>{{uploadComplete.user.adname.tags}}</p>
	    <p>{{uploadComplete}}</p> -->
	  </div>
	</div>
      </div>
    </div>
    <div class="panel panel-default" id="panel2">
      <div class="row">
	<div class="col-sm-10 col-sm-offset-1">
	  <p class="heads">Contact us</p>
	  <p class="para" style="padding-top: 7px">949.870.9444</p>
	  <p class="para">samuel@catco.com</p>
	</div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
  <script type="text/javascript" src="./public/js/main.js"></script>
  <script type="text/javascript" src="./public/js/bower_components/ngUpload/ng-upload.min.js"></script>
</body>
</html>
